{% extends 'base.html' %}
{% block content %}
<h1>New Workout Type</h1>

{% if session['login_status'] == True %}
    <form action="/add_workout_category" method="POST" required>
        Title: <input type="text" name="title" required><br><br>
        <p>Select the form of your workout:<p>
        <select name="form">
            <option value="REP"> Repeat </option>
            <option value="TIME"> Time </option>
            <option value="DIS"> Distance </option>
        </select>   
        <p>Select days of the week these workouts will be scheduled on</p>
        <input type="checkbox" name="day1" value="True">Monday<br>
        <input type="checkbox" name="day2" value=True>Tuesday<br>
        <input type="checkbox" name="day3" value=True>Wednesday<br>
        <input type="checkbox" name="day4" value=True>Thursday<br>
        <input type="checkbox" name="day5" value=True>Friday<br>
        <input type="checkbox" name="day6" value=True>Saturday<br>
        <input type="checkbox" name="day7" value=True>Sunday<br>
        
        <button type="submit">ADD</button>
        
    </form>
{% else %}
    <p>Please login to create a workout type</p>
{% endif %}

{% endblock %}