



{% extends 'base.html' %}
{% block content %}
    {% if session['user_id'] == cal.user_id %}
        <h1>{{ cal.name }}</h1>
        <div id="calendar"></div>
    {% else %}
        <p>Please login to view calendar</p>
    {% endif %}

    <script>
    
    document.addEventListener('DOMContentLoaded', function() {
      const workouts = {{ workouts | tojson }};
      // let wo_events = [];
      // for (let workout of workouts){
      //  wo_events.push({
      //   id: workout['id'],
      //   title: workout['title'],
      //   start: workout['start']
      // }) 
      // }
      // console.log(wo_events)
      
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
        defaultView: 'dayGridMonth',
        defaultDate: workouts[0]['start'],
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        timeZone: 'UTC',
        events: workouts
    
    })
    calendar.render();
  })

    </script> 

  {% endblock %} 


  
