{% extends 'base.html' %}
{% block content %}

{% if session['user_id'] == base_wo.user_id %}
    <h1>{{ base_wo.title }}</h1>
    <h3>Type: {{ base_wo.form_code }}</h3>


    <form action="/add_workout_specs/{{ base_wo.bw_id }}" method="POST" required>
        <p>Add a workout to this category: </p>
        Title: <input type="text" name="title" required><br><br>

        <p>How will warm-ups and cool-downs be measured?<p>

        <input type="number" name="wu_cd" value=0 required>
        <select name="wc_units">
            <option value="None"> No warm-up/cool-down </option>
            <option value="km"> Kilometers </option>
            <option value="mi"> Miles </option>
            <option value="min"> Minutes </option>
        </select><br><br>

        {% if base_wo.form_code == 'TIME' %}
        Time length of this workout:
             <input type="number" name="body" required>minutes<br><br>
             <input type="hidden" name="units" value="min">
             <input type="hidden" name="repeats" value="1">
        {% elif base_wo.form_code == 'DIS' %}
            Distance length of this workout:
            <input type="number" name="body" required><br><br>
            <select name="units">
                <option value="mi"> Miles </option>
                <option value="km"> Kilometers </option>
                <option value="m"> meters </option>
            </select>   
            <input type="hidden" name="repeats" value="1">
        {% elif base_wo.form_code == 'REP' %}
            Distance component of this workout:
            <input type="text" name="body" required>
            <select name="units">
                <option value="mi"> Miles </option>
                <option value="km"> Kilometers </option>
                <option value="m"> meters </option>
            </select><br><br>   
            Number of repeats:
            <input type="number" name="repeats" min="1">
        {% endif %}

        <button type="submit">ADD</button>  
    </form>
    <h3>Workouts</h3>
    {% for wo in base_wo.specs %}
    <h4>{{ wo.title }}</h4>   
    <p>{{ wo.body }} {{ wo.units }}, {{ wo.repeats }} times</p><br><br> 

    {% endfor %}


{% else %}
    <p>Please login to view category</p>
{% endif %}

{% endblock %}


 

